/* .main {
    display: flex;
} */

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.innerchild {
    margin: 5px;
    padding: 1px;
    background-color:pink;
    height: 150px;
    width: 150px;
    cursor: pointer;
    font-size: 130px;
    text-align: center;
box-shadow: 3px 3px 0 0 #6b705c
}
.innerchild:hover {
    margin: 5px;
    padding: 1px;
    /* background-color: rgb(162, 105, 105); */
box-shadow: 6px 6px 0 0 #6b705c
}
/* .innerchild::after {
    margin: 5px;
    padding: 1px;
    background-color: rgb(253, 220, 220);
    height: 150px;
    width: 150px;
    cursor: pointer;
    font-size: 130px;
    
} */

#text {
    font-size: x-large;
    font-weight: 900;
    text-align: center;
}

#box {
    font-size: 170px;
    font-weight: 800;
    padding: 10px;
}
#resetbtn{
    background-color: rgb(255, 104, 104);
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
}
#btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#winningmsg{
    font-size: 100px;
    font-weight: 2000;
    text-align: center;
}


